.Snack {
	margin-top: 5%;
	height: 200px;
}

.nav-link {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	position: absolute;
	top: 40%;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	border-radius: 10px;
}

.nav-link:hover {
	color: #fff;
}
